body{
  background-color: #333e48;
}
.hader {
  background-color: #1b9f48;
  margin-left: 60px;
  margin-right: 60px;
  border-color: #333e48;
  border-radius: 44px 10px 45px 10px;
  position:sticky; top: 0;
  backdrop-filter: blur(47px);
  
}

  

.hreotext{
  color: #1b9f48;
 
}
.lead{
  color: white;
  line-height: 30px;
}

.Services{
  color: #1b9f48;
  
}

.card-bodys{
  background-color: #333e48;
  color: white;
  line-height: 30px;
  
  /* transition: 1s; */
}
.card-body{
  background-color: #333e48;
  color: white;
  line-height: 30px;
  text-decoration: none;
  
  /* transition: 1s; */
}
.saif{
  text-decoration: none;
  font-style: none;
  color: #ffffff;
  font-size: 22px;
}
.number{
  margin-left:110px;
  height: px;
  
  width: 30%;
}
.contect-us{
  margin-left: 400px;
  
}
.card-bodys:hover{
  background-color: #1b9f48;
  color: #333e48;
  transition: 1.5s;
}


.hader-main{
  margin-left: 60px;
  margin-right: 58px;
  border-color: #333e48;
  border-radius: 1px;
  /* background-color: #1b9f48 */
}
.hader-hero{
  margin-left: 60px;
  margin-right: 60px;
  border-color: #333e48;
  border-radius: 44px 10px 45px 10px;
  
}
.hero-page{
  opacity: 0.4;
  border-radius: 10px 90px 90px 10px ;
  border: 10px solid transparent;
  padding: 15px;
  /* text-shadow: 2px 2px; */
}

.logo-Text{
  color: white;
  
  font-family: 'Courier New', Courier, monospace;
font-size: larger;
list-style: none;
/* margin-left: 33px; */
  font-weight: 500px;
}
.image-logo{
  height: 50px;
  margin-left: -33px;
}
.Haders-page {
  color: #333e48;

}
.home {
  color: black;
}
.sibling-fade {
  visibility: hidden;
}
.sibling-fade > * {
  visibility: visible;
}
.sibling-fade > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
.sibling-fade:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}
.sibling-fade > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}
.home:hover {
  font-style: none;
  color: rgb(255, 255, 255);
}
.Home-page{
  /* padding: 20px; */
  margin-top: 10px;
  font-size: 17px;
}
.Home-page:hover {
  background-color: #333e48;
  border-radius: 30px;
  color: aliceblue;
 
  transition: 1.5s;
  
}
.image1{
  max-width: 100%;
  height: auto;
    /* height: 600px; */
    width: 100%;
    border-radius: 33px;
    background-color: powderblue;
  
}
.card{
  width: 93%;
 margin: 33px;
padding: 100px;
 line-height: px;
 
}
.card-deck{
  display: flex;
}
.Contect-footer{
  background-color: #1b9f48;
  color: black;
  /* border-radius: 10px 10px 170px 10px; */
  margin-top: 34px;
}
.row ul li{
  color: black;
}
.card-img-top{
  margin-top: -30px;
  margin-right: 33px;
}
.land{
  margin-bottom: 33px;
  width: 140px;
  height: 140px;
}
.card-title{
  margin-top: -60px;
}
.Button{
  padding: 4px;
width: 15%;
margin-left: 450px;
background-color:#1b9f48;
border: 111px #333e48;
color: white;
font-size: 20px;

}
.Button:hover{
  color:#333e48;
  
}